- get_recipient_info if @recipient_info.nil?
- get_recipient_followers if @recipient_followers.nil?

#account_info.box
  %dl
    - unless @recipient_info.blank?
      - unless @recipient_info['name'].blank?
        %dd
          %strong Name
          = @recipient_info['name']
      - unless @recipient_info['location'].blank?
        %dd
          %strong Location
          = @recipient_info['location']
      - unless @recipient_info['url'].blank?
        %dd
          %strong Web
          = @recipient_info['url']
      - unless @recipient_info['description'].blank?
        %dd
          %strong Bio
          = @recipient_info['description']
    - else
      %dd
        %strong Name
        = configatron.twitter_account_name

  - unless @recipient_info.blank?
    #account_stats.c
      .left
        .num= @recipient_info['friends_count']
        following
      .left
        .num= @recipient_info['followers_count']
        followers
      - if false
        .left
          .num= @recipient_info['description']
          listed

  .blocks
    %a.block.c{:href => "#"}
      Tweets
      - unless @recipient_info.blank?
        .r= @recipient_info['statuses_count']
    %a.block{:href => "#"} Favorites

#account_lists.box
  %dl
    %dt Lists
    - 
    %dd
      %a{:href => '#'} @name/fffffat

#account_following.box
  %dl
    %dt Following
    - unless @recipient_followers.blank?
      - 30.times do |i|
        %dd.photo
          %a{:href => "#"} box #{i}
    - else
      %dd.suggest Could not load followers.
    %dd.smaller
      %a{:href => "#"} View All

#account_rss.box
  %a.inblock.rss{:href => "#"} RSS Feed of #{possessiveify configatron.twitter_account_name} tweets