- get_recipient_stream if @recipient_stream.nil?

%h3.section.header= configatron.section_header

- unless @recipient_stream.blank?
  #user_stream
    - @recipient_stream.each do |status|
      - # We should respect a user's privacy to be protected since this will be publically visible on the web.
      - next if status['user']['protected']

      .status.c
        .avatar.left
          %img{:src => status['user']['profile_image_url'], :alt => '', :title => '', :width => 48, :height => 48}
        .info.left
          .tweet
            %strong= user_profile_url(status['user']['screen_name'], false)
            = parse_tweet(status['text'])
          .details.c
            .left
              = timestamp(status)
              - unless status['source'].blank?
                = configatron.from_source.gsub(/\%s/, status['source'])
              - unless status['in_reply_to_status'].blank? || (status['in_reply_to_user_id'].blank? && status['in_reply_to_screen_name'].blank?)
                = configatron.in_reply_to.gsub(/\%u/, "<a href='http://twitter.com/#{status['in_reply_to_screen_name'] || status['in_reply_to_user_id']}l/status/#{status['in_reply_to_status']}'>#{status['in_reply_to_screen_name'] || status['in_reply_to_user_id']}</a>")
            %dl.user_links.right
              %dd.reply
                %a{:href => "http://twitter.com/?status=@#{status['user']['screen_name']}%20&in_reply_to_status_id=#{status['id']}&in_reply_to=#{status['user']['screen_name']}"}
                  %span.icon
                  %span.link= configatron.user_link_reply




- else
  %p.suggest= configatron.stream_blank.gsub(/\%u/, possessiveify(configatron.twitter_account_name))