!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml', :'xml:lang' => configatron.site_language, :lang => configatron.site_language}
  %head
    %title= (@title ? "#{@title} / " : '') + "#{configatron.site_name}"
    %meta{:"http-equiv" => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'keywords', :content => configatron.meta_keywords.gsub(/\%t/, configatron.site_name)}
    %meta{:name => 'description', :content => configatron.meta_description.gsub(/\%t/, configatron.site_name)}
    %meta{:content => configatron.twitter_account_name, :name => "page-user-screen_name"}
    %link{:href => "http://a1.twimg.com/a/1258674567/images/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %link{:href => "http://a1.twimg.com/a/1258674567/images/twitter_57.png", :rel => "apple-touch-icon"}
    %link{:href=>'/css/screen.css', :media=>'all', :rel =>'stylesheet', :type=>'text/css'}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js'}
    %script{:type => 'text/javascript', :src => '/js/application.js'}

  %body
    #container
      #header.rel
        %a{:href => '/'}
          %img{:src => "/images/logo.png", :title => configatron.site_name}
        .mark.abs

      
      %table#content_area
        %tbody
          %tr
            %td#content

              - if flash[:error] || flash[:notice]
                #flash_msgs
                  - if flash[:error]
                    %p.flash.flash_error= flash[:error]
                  - if flash[:notice]
                    %p.flash.flash_notice= flash[:notice]
              
              #content_box
                = yield
              #content_body
                = partial 'stream', :cache => true

            %td#sidebar
              = partial 'sidebar', :cache => true

      #footer
        %ul
          %li.first trollbabytroll is a <a href="http://www.fffff.at">F.A.T. Production</a> for the lulz. No rights reserved. <a href="">Grab the Code</a>. TROLLMI

- if false
  :plain   
    <div id="container" class="subpage">

    <div id="profilebox_outer">
    <div id="profilebox" class="clearfix">
    <div id="profiletext">


    </div>
    </div>
    </div>





    <div class="content-bubble-arrow"></div>



    <table cellspacing="0" class="columns">
    <tbody>
    <tr>
    <td id="content" class="round-left column">
    <div class="wrapper">









    <div class="profile-user">
    <div id="user_20972589" class="user ">

    <h2 class="thumb clearfix">

    <a href="/account/profile_image/MissPirata?hreflang=en"><img alt="" border="0" height="73" id="profile-image" src="http://a3.twimg.com/profile_images/537995195/fffetlabb_bigger.jpg" valign="middle" width="73" /></a>
    <div class="screen-name">MissPirata</div>
    </h2>
    </div>
    </div>


    <div class="section">

    <div id="timeline_heading" style="display: none;">

    <h1 id="heading"></h1>
    </div>



    <ol id='timeline' class='statuses'>
    <li class="hentry u-MissPirata status latest-status" id="status_5955177843">
    <span class="status-body">
    <span class="entry-content">consejo nacional para el desmadre de la cultura y las artes. @<a class="tweet-url username" href="/conaculta">conaculta</a> eres un <a href="/search?q=%23FAIL" title="#FAIL" class="tweet-url hashtag">#FAIL</a> total</span>

    <span class="meta entry-meta">
    <a class="entry-date" rel="bookmark" href="http://twitter.com/MissPirata/status/5955177843">
    <span class="published timestamp" data="{time:'Sun Nov 22 20:51:54 +0000 2009'}">about 2 hours ago</span>
    </a>
    <span>from <a href="http://www.tweetdeck.com/" rel="nofollow">TweetDeck</a></span>

    </span>
    </span>

    </li>
    <li class="hentry u-MissPirata status" id="status_5955119959">
    <span class="status-body">
    <span class="entry-content">"no es mala voluntad es "descoordinacion" dice.. y para que les pagan a sus empleados @<a class="tweet-url username" href="/conaculta">conaculta</a>? ademas de hacer relaciones y "curar" lol</span>
    <span class="meta entry-meta">
    <a class="entry-date" rel="bookmark" href="http://twitter.com/MissPirata/status/5955119959">
    <span class="published timestamp" data="{time:'Sun Nov 22 20:49:50 +0000 2009'}">about 2 hours ago</span>

    </a>
    <span>from <a href="http://www.tweetdeck.com/" rel="nofollow">TweetDeck</a></span>

    </span>
    </span>
    </li>
    <li class="hentry u-MissPirata status" id="status_5955002401">
    <span class="status-body">
    <span class="entry-content">heheh @<a class="tweet-url username" href="/conaculta">conaculta</a> si le sabe "xq no proyectan aqui (aire libre con sol)</span>

    <span class="meta entry-meta">
    <a class="entry-date" rel="bookmark" href="http://twitter.com/MissPirata/status/5955002401">
    <span class="published timestamp" data="{time:'Sun Nov 22 20:45:30 +0000 2009'}">about 2 hours ago</span>
    </a>
    <span>from <a href="http://www.tweetdeck.com/" rel="nofollow">TweetDeck</a></span>

    </span>
    </span>

    </li>
    <li class="hentry u-MissPirata status" id="status_5954747468">
    <span class="status-body">
    <span class="entry-content">el@conaculta,cenart,etc..en la relacion publica y el vino (malo) en vez de trabajar.dice este sr q solo lo hace "para que salga" literal..</span>
    <span class="meta entry-meta">
    <a class="entry-date" rel="bookmark" href="http://twitter.com/MissPirata/status/5954747468">
    <span class="published timestamp" data="{time:'Sun Nov 22 20:36:05 +0000 2009'}">about 2 hours ago</span>
    </a>

    <span>from <a href="http://www.tweetdeck.com/" rel="nofollow">TweetDeck</a></span>

    </span>
    </span>
    </li>
    <li class="hentry u-MissPirata status" id="status_5954692258">
    <span class="status-body">
    <span class="entry-content">el congreso de la sociedad intl de etnomusicologia c el @<a class="tweet-url username" href="/pryctsonidero">pryctsonidero</a>. @<a class="tweet-url username" href="/conaculta">conaculta</a> como siempre desorganizado, burocrata y mediocre</span>

    <span class="meta entry-meta">
    <a class="entry-date" rel="bookmark" href="http://twitter.com/MissPirata/status/5954692258">
    <span class="published timestamp" data="{time:'Sun Nov 22 20:33:55 +0000 2009'}">about 2 hours ago</span>
    </a>
    <span>from <a href="http://www.tweetdeck.com/" rel="nofollow">TweetDeck</a></span>

    </span>
    </span>

    </li>
    <li class="hentry u-MissPirata status" id="status_5953381108">
    <span class="status-body">
    <span class="entry-content">RT @<a class="tweet-url username" href="/cdphotography">cdphotography</a>: Check out Knackeboul from @<a class="tweet-url username" href="/mundartisten">mundartisten</a> his pictures out on: <a href="http://chrisdijksterhuisphotography.blogspot.com/2009/07" class="tweet-url web" rel="nofollow" target="_blank">http://chrisdijksterhuispho...</a> </span>
    <a href="http://twitter.com/MissPirata/status/5953381108">...</a>    <span class="meta entry-meta">

    <a class="entry-date" rel="bookmark" href="http://twitter.com/MissPirata/status/5953381108">
    <span class="published timestamp" data="{time:'Sun Nov 22 19:40:13 +0000 2009'}">about 3 hours ago</span>
    </a>
    <span>from <a href="http://fffff.at/retweet-game" rel="nofollow">Retweet Game</a></span>

    </span>
    </span>
    </li>

    <li class="hentry u-MissPirata status" id="status_5952201754">

    <span class="status-body">
    <span class="entry-content">Cambio y fuera!</span>
    <span class="meta entry-meta">
    <a class="entry-date" rel="bookmark" href="http://twitter.com/MissPirata/status/5952201754">
    <span class="published timestamp" data="{time:'Sun Nov 22 18:50:18 +0000 2009'}">about 4 hours ago</span>
    </a>

    <span>from <a href="http://www.tweetdeck.com/" rel="nofollow">TweetDeck</a></span>


    </span>
    </span>
    </li>
    <li class="hentry u-MissPirata status" id="status_5952197459">
    <span class="status-body">
    <span class="entry-content">@<a class="tweet-url username" href="/aimperial">aimperial</a> No dudo que existan los métodos, pero aqui con lana baila la mona. Y cualquiera con varo bailará mis datos. NO NO NO.</span>

    <span class="meta entry-meta">

    <a class="entry-date" rel="bookmark" href="http://twitter.com/MissPirata/status/5952197459">
    <span class="published timestamp" data="{time:'Sun Nov 22 18:50:07 +0000 2009'}">about 4 hours ago</span>
    </a>
    <span>from <a href="http://www.tweetdeck.com/" rel="nofollow">TweetDeck</a></span>

    <a href="http://twitter.com/aimperial/status/5952143791">in reply to aimperial</a>    </span>

    </span>

    </li>
    <li class="hentry u-MissPirata status" id="status_5952172985">
    <span class="status-body">
    <span class="entry-content">@<a class="tweet-url username" href="/aimperial">aimperial</a>  yo no hablo de anonimato! Hablo de que NO hay transparencia institucional para manejar estos datos tan frágiles.!!!!!</span>
    <span class="meta entry-meta">
    <a class="entry-date" rel="bookmark" href="http://twitter.com/MissPirata/status/5952172985">

    <span class="published timestamp" data="{time:'Sun Nov 22 18:49:02 +0000 2009'}">about 4 hours ago</span>

    </a>
    <span>from <a href="http://www.tweetdeck.com/" rel="nofollow">TweetDeck</a></span>

    <a href="http://twitter.com/aimperial/status/5952143791">in reply to aimperial</a>    </span>
    </span>
    </li>

    <li class="hentry u-MissPirata status" id="status_5952076984">
    <span class="status-body">

    <span class="entry-content">@<a class="tweet-url username" href="/aimperial">aimperial</a> OK.. pero tu GPS no funka o que? ... estamos en MEXICO. LAND OF SACRED CORRUPTION. Como haces responsable a un gobierno criminal?</span>
    <span class="meta entry-meta">
    <a class="entry-date" rel="bookmark" href="http://twitter.com/MissPirata/status/5952076984">
    <span class="published timestamp" data="{time:'Sun Nov 22 18:44:55 +0000 2009'}">about 4 hours ago</span>

    </a>
    <span>from <a href="http://www.tweetdeck.com/" rel="nofollow">TweetDeck</a></span>


    <a href="http://twitter.com/aimperial/status/5952048977">in reply to aimperial</a>    </span>
    </span>
    </li>
    <li class="hentry u-MissPirata status" id="status_5952018522">
    <span class="status-body">

    <span class="entry-content">@<a class="tweet-url username" href="/aimperial">aimperial</a>  El punto mi querido criptologo, es que el gobierno no tiene la confianza ni la tendrá, para manejar esos datos. Es tan dificil?</span>

    <span class="meta entry-meta">
    <a class="entry-date" rel="bookmark" href="http://twitter.com/MissPirata/status/5952018522">
    <span class="published timestamp" data="{time:'Sun Nov 22 18:42:20 +0000 2009'}">about 4 hours ago</span>
    </a>
    <span>from <a href="http://www.tweetdeck.com/" rel="nofollow">TweetDeck</a></span>


    <a href="http://twitter.com/aimperial/status/5951953902">in reply to aimperial</a>    </span>

    </span>
    </li>
    <li class="hentry u-MissPirata status" id="status_5951970781">
    <span class="status-body">
    <span class="entry-content">@<a class="tweet-url username" href="/aimperial">aimperial</a> asi como replican tarjetas, licencias, etc..etc.. Pasele x su ID biométrica a nuestras oficinas en Sto Domingo! atte. SEGOB</span>

    <span class="meta entry-meta">
    <a class="entry-date" rel="bookmark" href="http://twitter.com/MissPirata/status/5951970781">

    <span class="published timestamp" data="{time:'Sun Nov 22 18:40:16 +0000 2009'}">about 4 hours ago</span>
    </a>
    <span>from <a href="http://www.tweetdeck.com/" rel="nofollow">TweetDeck</a></span>

    </span>
    </span>

    </li>
    <li class="hentry u-MissPirata status" id="status_5951939104">
    <span class="status-body">

    <span class="entry-content">RT @<a class="tweet-url username" href="/aimperial">aimperial</a>: @<a class="tweet-url username" href="/MissPirata">MissPirata</a> como para que querrian la info de tu iris? pa replicar su lindo color? hay manera de asegurarla &lt; LOL aqui?</span>
    <span class="meta entry-meta">

    <a class="entry-date" rel="bookmark" href="http://twitter.com/MissPirata/status/5951939104">
    <span class="published timestamp" data="{time:'Sun Nov 22 18:38:53 +0000 2009'}">about 4 hours ago</span>

    </a>
    <span>from <a href="http://www.tweetdeck.com/" rel="nofollow">TweetDeck</a></span>

    </span>
    </span>
    </li>

    <li class="hentry u-MissPirata status" id="status_5951921449">
    <span class="status-body">
    <span class="entry-content">@<a class="tweet-url username" href="/aimperial">aimperial</a> quieres informacion biometrica para comprar y vender mas seguro? no manches neta.. que niveles...</span>

    <span class="meta entry-meta">
    <a class="entry-date" rel="bookmark" href="http://twitter.com/MissPirata/status/5951921449">
    <span class="published timestamp" data="{time:'Sun Nov 22 18:38:07 +0000 2009'}">about 4 hours ago</span>

    </a>
    <span>from <a href="http://www.tweetdeck.com/" rel="nofollow">TweetDeck</a></span>

    <a href="http://twitter.com/aimperial/status/5951897045">in reply to aimperial</a>    </span>

    </span>
    </li>
    <li class="hentry u-MissPirata status" id="status_5951910015">
    <span class="status-body">

    <span class="entry-content">@<a class="tweet-url username" href="/aimperial">aimperial</a> haha si se que es hash :P</span>
    <span class="meta entry-meta">
    <a class="entry-date" rel="bookmark" href="http://twitter.com/MissPirata/status/5951910015">

    <span class="published timestamp" data="{time:'Sun Nov 22 18:37:37 +0000 2009'}">about 4 hours ago</span>
    </a>
    <span>from <a href="http://www.tweetdeck.com/" rel="nofollow">TweetDeck</a></span>


    <a href="http://twitter.com/aimperial/status/5951881131">in reply to aimperial</a>    </span>
    </span>
    </li>
    <li class="hentry u-MissPirata status" id="status_5951896594">

    <span class="status-body">
    <span class="entry-content">@<a class="tweet-url username" href="/aimperial">aimperial</a> aunque si en manos del gobierno.. QUE GRAN MERCADO ILICITO DE INFO BIOMETRICA SE ABRIRA.. GENIOS!!!</span>

    <span class="meta entry-meta">
    <a class="entry-date" rel="bookmark" href="http://twitter.com/MissPirata/status/5951896594">
    <span class="published timestamp" data="{time:'Sun Nov 22 18:37:02 +0000 2009'}">about 4 hours ago</span>
    </a>

    <span>from <a href="http://www.tweetdeck.com/" rel="nofollow">TweetDeck</a></span>

    </span>
    </span>

    </li>
    <li class="hentry u-MissPirata status" id="status_5951876134">
    <span class="status-body">
    <span class="entry-content">@<a class="tweet-url username" href="/aimperial">aimperial</a>  what?!!! la información biométrica no es de mercado, es de HUMANOS. pufffffffff!</span>

    <span class="meta entry-meta">
    <a class="entry-date" rel="bookmark" href="http://twitter.com/MissPirata/status/5951876134">
    <span class="published timestamp" data="{time:'Sun Nov 22 18:36:07 +0000 2009'}">about 4 hours ago</span>

    </a>
    <span>from <a href="http://www.tweetdeck.com/" rel="nofollow">TweetDeck</a></span>

    <a href="http://twitter.com/aimperial/status/5951859648">in reply to aimperial</a>    </span>

    </span>
    </li>
    <li class="hentry u-MissPirata status" id="status_5951845381">
    <span class="status-body">

    <span class="entry-content">@<a class="tweet-url username" href="/aimperial">aimperial</a>  eso es convertir datos en información. Info Biometrica es PERSONAL y PRIVADA x ser tan frágil y replicable.</span>
    <span class="meta entry-meta">
    <a class="entry-date" rel="bookmark" href="http://twitter.com/MissPirata/status/5951845381">

    <span class="published timestamp" data="{time:'Sun Nov 22 18:34:48 +0000 2009'}">about 4 hours ago</span>
    </a>
    <span>from <a href="http://www.tweetdeck.com/" rel="nofollow">TweetDeck</a></span>


    <a href="http://twitter.com/aimperial/status/5951806522">in reply to aimperial</a>    </span>
    </span>
    </li>
    <li class="hentry u-MissPirata status" id="status_5951818729">

    <span class="status-body">
    <span class="entry-content">@<a class="tweet-url username" href="/beltrandelriomx">beltrandelriomx</a>  mi papa me va a matar x andar papaloteando :P aha.. <a href="/search?q=%23GobiernoNOControl" title="#GobiernoNOControl" class="tweet-url hashtag">#GobiernoNOControl</a> <a href="/search?q=%23sonmisdatos" title="#sonmisdatos" class="tweet-url hashtag">#sonmisdatos</a> ?</span>

    <span class="meta entry-meta">
    <a class="entry-date" rel="bookmark" href="http://twitter.com/MissPirata/status/5951818729">

    <span class="published timestamp" data="{time:'Sun Nov 22 18:33:39 +0000 2009'}">about 4 hours ago</span>
    </a>
    <span>from <a href="http://www.tweetdeck.com/" rel="nofollow">TweetDeck</a></span>

    <a href="http://twitter.com/beltrandelriomx/status/5951738850">in reply to beltrandelriomx</a>    </span>

    </span>
    </li>
    <li class="hentry u-MissPirata status" id="status_5951534061">

    <span class="status-body">
    <span class="entry-content">RT @<a class="tweet-url username" href="/ItIsNow">ItIsNow</a>: 6:20 pm, Sunday 22nd of November 2009</span>
    <span class="meta entry-meta">
    <a class="entry-date" rel="bookmark" href="http://twitter.com/MissPirata/status/5951534061">

    <span class="published timestamp" data="{time:'Sun Nov 22 18:21:07 +0000 2009'}">about 4 hours ago</span>
    </a>
    <span>from <a href="http://fffff.at/retweet-game" rel="nofollow">Retweet Game</a></span>


    </span>
    </span>
    </li>
    </ol>  <div id="pagination">

    <a href="/MissPirata?max_id=5955177843&amp;page=2&amp;twttr=true" class="round more" id="more" rel="next">more</a>  </div>

    </div>



    </div>
    </td>

    <td id="side_base" class="column round-right">

    <div id="side">


    <div id="profile" class="section profile-side">
    <span class="section-links">
    </span>
    <address>
    <ul class="about vcard entry-author">



    <img src="troll.png" alt="image" width="" height="" />  
    <li><span class="label">Name</span> <span class="fn">MissPirata </span></li>

    <li><span class="label">Location</span> <span class="adr">Telcel Mundo</span></li>
    <li><span class="label">Web</span> <a href="http://bit.ly/474q0K" class="url" rel="me nofollow" target="_blank">http://bit.ly/474q0K</a></li>
    <li id="bio"><span class="label">Bio</span> <span class="bio">There is only one life to troll.</span></li>   
    </ul>
    </address>




    <div class="stats">
    <table>
    <tr>
    <td>

    <a href="/MissPirata/following" id="following_count_link" class="link-following_page" rel="me" title="See who MissPirata is following">
    <span id="following_count" class="stats_count numeric">234 </span>

    <span class="label">Following</span>

    </a>

    </td>
    <td>

    <a href="/MissPirata/followers" id="follower_count_link" class="link-followers_page" rel="me" title="See who's following MissPirata">
    <span id="follower_count" class="stats_count numeric">992 </span>
    <span class="label">Followers</span>
    </a>

    </td>
    <td>

    <a href="/MissPirata/lists/memberships" id="lists_count_link" class="link-lists_page" rel="me" title="See which lists MissPirata is on">
    <span id="lists_count" class="stats_count numeric">63 </span>
    <span class="label">Listed</span>
    </a>

    </td>
    </tr>

    </table>
    </div>


    </div>

    <ul id="primary_nav" class="sidebar-menu">
    <li id="profile_tab"><a href="/MissPirata" accesskey="u"><span id="update_count" class="stat_count">3,033</span><span>Tweets</span></a></li>
    <li id="profile_favorites_tab"><a href="http://twitter.com/MissPirata/favorites" accesskey="f"><span>Favorites</span></a></li>
    </ul>



    <hr/>

    <div id="side_lists">
    <h2 class="sidebar-title"><span>Lists</span></h2>

    <ul class="sidebar-menu lists-links">
    <li><a href="/MissPirata/fffffat" class="list_2438380" data="{&quot;mode&quot;:&quot;public&quot;,&quot;description&quot;:&quot;&quot;,&quot;slug&quot;:&quot;fffffat&quot;,&quot;uri&quot;:&quot;/MissPirata/fffffat&quot;,&quot;dispatch_action&quot;:&quot;list&quot;,&quot;member_count&quot;:16,&quot;subscriber_count&quot;:0,&quot;full_name&quot;:&quot;@MissPirata/fffffat&quot;,&quot;user&quot;:&quot;MissPirata&quot;,&quot;name&quot;:&quot;FFFFFAT&quot;,&quot;id&quot;:2438380}" title="@MissPirata/FFFFFAT"><span>@MissPirata/<wbr/><b>fffffat</b></span></a></li>
    </ul>
    <p class="sidebar-menu sidebar-menu-actions">
    <span class="view-all"><a href="http://twitter.com/MissPirata/lists">View all</a></span>

    </p>
    </div>



    <hr/>


    <div id="following">
    <h2 class="sidebar-title" id="fm_menu"><span>Following</span></h2>

    <div class="sidebar-menu">
    <div id="following_list">


    <span class="vcard">
    <a href="/ItIsNow" class="url" hreflang="en" rel="contact" title="It is now....."><img alt="It is now....." class="photo fn" height="24" src="http://a3.twimg.com/profile_images/59611009/twhiter_mini.png" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/faceto" class="url" hreflang="en" rel="contact" title="faceto"><img alt="faceto" class="photo fn" height="24" src="http://a1.twimg.com/profile_images/483194870/crap_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/AderalApocalyps" class="url" hreflang="en" rel="contact" title="Adderall Apocalypse"><img alt="Adderall Apocalypse" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/293168213/gba_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">

    <a href="/ileanarocio" class="url" hreflang="en" rel="contact" title="ileana Rocio"><img alt="ileana Rocio" class="photo fn" height="24" src="http://a1.twimg.com/profile_images/515059394/avatar-ile_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/robomato" class="url" hreflang="" rel="contact" title="tobin walker"><img alt="tobin walker" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/501223737/l_b983ea18fd94b8dd04ef926cfac25a9c_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/xoxobCapucine" class="url" hreflang="en" rel="contact" title="Capucine Piot"><img alt="Capucine Piot" class="photo fn" height="24" src="http://a1.twimg.com/profile_images/536956944/capu_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/dospruit" class="url" hreflang="en" rel="contact" title="dominique spruit"><img alt="dominique spruit" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/339437393/do_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/thien" class="url" hreflang="en" rel="contact" title="Thien Nguyen"><img alt="Thien Nguyen" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/380559683/thien_twitter_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">

    <a href="/evan_lee" class="url" hreflang="en" rel="contact" title="evan_lee"><img alt="evan_lee" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/51670789/PICT0041_mini.JPG" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/Freem06" class="url" hreflang="en" rel="contact" title="Freem06"><img alt="Freem06" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/109195695/52220001_mini.JPG" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/AmericanBankCtr" class="url" hreflang="en" rel="contact" title="American Bank Center"><img alt="American Bank Center" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/109635481/82_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/etejeday" class="url" hreflang="en" rel="contact" title="Ernesto Tejeda Y"><img alt="Ernesto Tejeda Y" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/453547777/pic_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/itsech0" class="url" hreflang="en" rel="contact" title="Raineri Bello"><img alt="Raineri Bello" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/437040287/5531_107133661558_503021558_2265295_7175881_n_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">

    <a href="/astridavila" class="url" hreflang="en" rel="contact" title="astridavila"><img alt="astridavila" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/503380275/viejas_090_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/catito18" class="url" hreflang="en" rel="contact" title="luis"><img alt="luis" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/440039765/Foto0170_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/ggppjj" class="url" hreflang="" rel="contact" title="Gabriel Jones"><img alt="Gabriel Jones" class="photo fn" height="24" src="http://s.twimg.com/a/1258674567/images/default_profile_5_mini.png" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/carlotosi" class="url" hreflang="en" rel="contact" title="Carlo Tosi"><img alt="Carlo Tosi" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/407653651/ctfoto_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/Jmccain1881" class="url" hreflang="en" rel="contact" title="Jimmy McCain"><img alt="Jimmy McCain" class="photo fn" height="24" src="http://a1.twimg.com/profile_images/289037212/n35400478_32487033_5979_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">

    <a href="/SymphonicMirror" class="url" hreflang="en" rel="contact" title="Wan Nur Indah"><img alt="Wan Nur Indah" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/519176085/indah_n_juliana_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/mr_abrutis" class="url" hreflang="fr" rel="contact" title="Alix"><img alt="Alix" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/217439417/9d5792704936772a75da0d6e108015b8-130_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/alsc47" class="url" hreflang="en" rel="contact" title="Anne-lise Saëz"><img alt="Anne-lise Saëz" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/351927289/1410754577_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/ananixon" class="url" hreflang="en" rel="contact" title="juan pablo"><img alt="juan pablo" class="photo fn" height="24" src="http://a1.twimg.com/profile_images/412977766/3911711662_283d2b164f_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/lutsch_es" class="url" hreflang="" rel="contact" title="Maxl Rainer"><img alt="Maxl Rainer" class="photo fn" height="24" src="http://s.twimg.com/a/1258070043/images/default_profile_4_mini.png" width="24" /></a>  </span>


    <span class="vcard">

    <a href="/harmsel" class="url" hreflang="en" rel="contact" title="harm van vugt"><img alt="harm van vugt" class="photo fn" height="24" src="http://a1.twimg.com/profile_images/406802352/harmAvatarB_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/ebavere" class="url" hreflang="en" rel="contact" title="eba vere"><img alt="eba vere" class="photo fn" height="24" src="http://a1.twimg.com/profile_images/84266104/43302_p1490293_mini.jpeg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/killingskills" class="url" hreflang="en" rel="contact" title="Jaap Wiewel"><img alt="Jaap Wiewel" class="photo fn" height="24" src="http://a1.twimg.com/profile_images/195874976/Killingskills_logo_bewerkt_hyveskleiner_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/Design_Slut" class="url" hreflang="en" rel="contact" title="Jason"><img alt="Jason" class="photo fn" height="24" src="http://a1.twimg.com/profile_images/73764812/bored_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/andizin" class="url" hreflang="en" rel="contact" title="andreas zingerle"><img alt="andreas zingerle" class="photo fn" height="24" src="http://a1.twimg.com/profile_images/185831308/lindandy_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">

    <a href="/esd28" class="url" hreflang="es" rel="contact" title="Elliot Silva"><img alt="Elliot Silva" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/506231491/P000000F_mini.JPG" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/ThexRipper" class="url" hreflang="en" rel="contact" title="Alex"><img alt="Alex" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/66917281/PIC_0096d_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/KevinYetHenLee" class="url" hreflang="en" rel="contact" title="Kevin Gabriel Lee"><img alt="Kevin Gabriel Lee" class="photo fn" height="24" src="http://a1.twimg.com/profile_images/126350958/Bacardi_Nights_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/zacharybcollins" class="url" hreflang="en" rel="contact" title="Zach Collins"><img alt="Zach Collins" class="photo fn" height="24" src="http://s.twimg.com/a/1258674567/images/default_profile_2_mini.png" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/cdphotography" class="url" hreflang="en" rel="contact" title="chrisdijksterhuis"><img alt="chrisdijksterhuis" class="photo fn" height="24" src="http://a1.twimg.com/profile_images/400158780/chris1_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">

    <a href="/lukatoyboy" class="url" hreflang="en" rel="contact" title="Luka Ivanović"><img alt="Luka Ivanović" class="photo fn" height="24" src="http://a1.twimg.com/profile_images/41331162/luka_dc_mini.jpg" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/gory" class="url" hreflang="en" rel="contact" title="gory"><img alt="gory" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/323058969/Untitled-1_mini.png" width="24" /></a>  </span>


    <span class="vcard">
    <a href="/georginamoda" class="url" hreflang="en" rel="contact" title="georgina pijttersen"><img alt="georgina pijttersen" class="photo fn" height="24" src="http://s.twimg.com/a/1258674567/images/default_profile_3_mini.png" width="24" /></a>  </span>


    </div>
    <div id="friends_view_all">
    <a href="/MissPirata/following" rel="me">View all&hellip;</a>
    </div>


    </div>


    </div>



    <div id="rssfeed">
    <hr/>
    <a href="/statuses/user_timeline/20972589.rss" class="xref rss profile-rss" rel="alternate" type="application/rss+xml">RSS feed of MissPirata's tweets</a>
    <a href="/favorites/20972589.rss" class="xref rss favorites-rss" rel="alternate" type="application/rss+xml">RSS feed of MissPirata's favorites</a>

    </div>


    </div>
    </td>

    </tr>
    </tbody>
    </table>



    <div id="footer"
    class="round">

    </div>



    <hr />

    </div>